.highlight pre .hll { background-color: #49483e }
.highlight pre, .highlighttable pre { background: #272822; color: #f8f8f2 }
.highlight pre .c { color: #75715e } /* Comment */
.highlight pre .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight pre .k { color: #66d9ef } /* Keyword */
.highlight pre .l { color: #ae81ff } /* Literal */
.highlight pre .n { color: #f8f8f2 } /* Name */
.highlight pre .o { color: #f92672 } /* Operator */
.highlight pre .p { color: #f8f8f2 } /* Punctuation */
.highlight pre .cm { color: #75715e } /* Comment.Multiline */
.highlight pre .cp { color: #75715e } /* Comment.Preproc */
.highlight pre .c1 { color: #75715e } /* Comment.Single */
.highlight pre .cs { color: #75715e } /* Comment.Special */
.highlight pre .ge { font-style: italic } /* Generic.Emph */
.highlight pre .gs { font-weight: bold } /* Generic.Strong */
.highlight pre .kc { color: #66d9ef } /* Keyword.Constant */
.highlight pre .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight pre .kn { color: #f92672 } /* Keyword.Namespace */
.highlight pre .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight pre .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight pre .kt { color: #66d9ef } /* Keyword.Type */
.highlight pre .ld { color: #e6db74 } /* Literal.Date */
.highlight pre .m { color: #ae81ff } /* Literal.Number */
.highlight pre .s { color: #e6db74 } /* Literal.String */
.highlight pre .na { color: #a6e22e } /* Name.Attribute */
.highlight pre .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight pre .nc { color: #a6e22e } /* Name.Class */
.highlight pre .no { color: #66d9ef } /* Name.Constant */
.highlight pre .nd { color: #a6e22e } /* Name.Decorator */
.highlight pre .ni { color: #f8f8f2 } /* Name.Entity */
.highlight pre .ne { color: #a6e22e } /* Name.Exception */
.highlight pre .nf { color: #a6e22e } /* Name.Function */
.highlight pre .nl { color: #f8f8f2 } /* Name.Label */
.highlight pre .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight pre .nx { color: #a6e22e } /* Name.Other */
.highlight pre .py { color: #f8f8f2 } /* Name.Property */
.highlight pre .nt { color: #f92672 } /* Name.Tag */
.highlight pre .nv { color: #f8f8f2 } /* Name.Variable */
.highlight pre .ow { color: #f92672 } /* Operator.Word */
.highlight pre .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight pre .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight pre .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight pre .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight pre .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight pre .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight pre .sc { color: #e6db74 } /* Literal.String.Char */
.highlight pre .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight pre .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight pre .se { color: #ae81ff } /* Literal.String.Escape */
.highlight pre .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight pre .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight pre .sx { color: #e6db74 } /* Literal.String.Other */
.highlight pre .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight pre .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight pre .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight pre .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight pre .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight pre .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight pre .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight pre .il { color: #ae81ff } /* Literal.Number.Integer.Long */
