.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0
}

p {
  margin: 0 0 0px;
}

.title-wrap {
  text-align: center;
}

.site-header {
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  background-color: #8C1515;
}

.container {
  padding-top: 12px;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  font-size: 26px;
  line-height: 56px;
  position: relative;
  z-index: 1;
  color: #FFF;
  font-weight: 200;
  text-decoration: none;
}

h2 {
  border-bottom: 1px solid #CCC;
  padding-bottom: 5px;
  font-size: 160%;
}

h3 {
  font-size: 120%;
  font-weight: bold;
}

a, a:hover {
  color: inherit;
}

.entry-content a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

.entry-content a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}

div.ytcontainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

iframe.yt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#search-demo-container {
  max-width: 40em;
  padding: 1em;
  margin: 1em auto;
  border: 1px solid lightgrey;
}

#myInput {
  display: inline-block;
  padding: .5em;
  width: 100%;
  font-size: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.img-competition {
  border-radius: 5%;
  max-width: 70px;
}

.td-image {
  width: 10%;
}
.td-title {
  width: 45%;
}
.td-details {
  width: 20%;
}
.td-solutions {
  width: 20%;
}
.td-pins {
  width: 5%;
}

@media (max-width: 995px) {
  .table {
    font-size: 70%;
    table-layout: fixed;
    word-wrap: break-word;
  }
  .img-competition {
    max-width:70px;
  }
}