---
const currentYear = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="shell site-footer__inner">
    <p class="site-footer__text">
      &copy; 2018-{currentYear}
      <a href="https://farid.one" target="_blank" rel="noreferrer">
        Farid Rashidi
      </a>
    </p>
  </div>
</footer>
